*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul,li{
  list-style: none;
}
.main{
  position: absolute;
  left: 260px;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
}
.clearfloat:after{
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
}