.content-container{
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 200px;
  width: 50%;
  .task-wrap{
    .title{
      font-size: 30px;
    }
    .task-add{
      position: relative;
      input{
        outline: none;
        border: 1px solid #999999;
        height: 33px;
        width: 100%;
        padding-left: 20px;
      }
      .add-task-tool{
        position: absolute;
        right: 4px;
        top: 6px;
        span{
          font-size: 20px;
        }
      }
    }
  }
}
.task-list-container{
  margin-top: 20px;
}
.list-toggle{
  position: relative;
}
.list-toggle .toggle-icon{
  position: absolute;
  left: -18px;
}
.list-toggle .toggle-date{
  float: left;
}
.list-toggle .toggle-acount{
  float: right;
}
.every-list-container li{

}
.every-list-container li input[type="checkbox"]{
  opacity: 0;
}
.every-list-container li input[type="checkbox"]+span{
  position: relative;
  pointer-events: none;
}
.every-list-container li input[type="checkbox"]+span:before{
  z-index: 1;
  position: absolute;
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border: 1px solid #999999;
  //background: #fff;
  left: -17px;
  top: 0px;
}

